html{
    box-sizing: border-box;
    font-size: 62.5%;/** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/**Globales**/
img{
    max-width: 100%; /* ajusta las imagenes a su contenedor */
}
.contenedor{
    max-width: 120rem; /** = 1200px **/
    margin: 0 auto;
}
h1{
    font-size: 6rem;
    color: rgb(49, 49, 51);    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}



/**Utilidades**/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300{
    font-weight: 300;
}
.centrar-texto{    
    text-align: center;
}
.d-block{
    display: block!important;
}
.contenido-centrado{
    max-width: 90rem;
}

/**Botones **/
.boton{
    color: #ffffff; 
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
}
.boton:hover{
    cursor: pointer;
}
.boton-amarillo{
    background-color: #E08709;
}
.boton-verde{
    background-color: #71B100;
}

/*Header*/
.site-header{
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover; /* usa todas las proporsiones disponibles pero 
                            siempre respetando el resto de medidas*/
    height: 100vh;
    min-height: 60rem;
}
.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenido-header h1{
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}


/*Navegacion*/
.navegacion a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem; /** = 18px **/
    margin-right: 2rem;
}

/*Hacer que cambie el color cuando mouse pasa por encima*/
.navegacion a:hover{
    color: blueviolet;
}
.navegacion a:last-of-type{
    margin: 0;
}


/**Iconos nosotros**/
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}
.icono{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}
.icono h3{
    text-transform: uppercase; /** Poner en Mayusculas **/
}


/** Anuncios **/
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* para que los anuncios no salgan uno tras otro pegados horizontalmente */
}
.anuncio{
    flex: 0 0 calc(33.3% - 1rem); /* Toma el valor de: grow, shrink, basis */ 
    /*
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);
    */
    border: 1px solid #B5B5B5;
    background-color: #F5F5F5;
    margin-bottom: 2.5rem;
}
.contenido-anuncio{
    padding: 2rem;
}
.contenido-anuncio h3, 
.contenido-anuncio p{
    margin: 0;
}
.precio{
    color: #718100;
    font-weight: 700;
}
.iconos-caracteristicas{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
}
.iconos-caracteristicas li{
    display: flex;
}
.iconos-caracteristicas li img{
    margin-right: 2rem;
}
.ver-todas{
    display: flex;
    justify-content: flex-end;
}






/** Contacto Home **/
.imagen-contacto{
    background-image: url(../img/pollos.jpg);
    background-position: center center;
    background-size: cover;
    height: 50rem;
    display: flex;
    align-items: center;    
}

.contenedor-login{
    max-width: 20rem; /** = 1200px **/
    margin: 0 auto;   

    background: rgba(255,255,255, 0.07);    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80ffffff',GradientType=0 );    
    border-radius: 2rem;
}
.contenedor-login:hover{
    background: rgba(255,255,255, 0.15);    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80ffffff',GradientType=0 );    
    border-radius: 2rem;
}


@media only screen and (min-width:320px) {
    .imagen-contacto{       
        height: 50rem;
       
    }
    .contenedor-login{
        max-width: 30rem; /** = 1200px **/
        margin: 0 auto;
    }
}
@media only screen and (min-width:480px) {
    .imagen-contacto{       
        height: 60rem;
       
    }
    .contenedor-login{
        max-width: 45rem; /** = 1200px **/
        margin: 0 auto;
    }
}
@media only screen and (min-width:768px) {
    .imagen-contacto{      
        height: 70rem;
      
    }
    .contenedor-login{
        max-width: 65rem; /** = 1200px **/
        margin: 0 auto;
    }
}
@media only screen and (min-width:992px) {
    .imagen-contacto{      
        height: 85rem;
          
    }
    .contenedor-login{
        max-width: 100rem; /** = 1200px **/
        margin: 0 auto;
    }
}





.contenido-contacto{
    flex: 1; /* Toma el tamaño que hay disponible y los divide para el numero de elementos */
    color: #ffffff;
}
.contenido-contacto p{
    font-size: 1.8rem;
}


/** Seccion inferior **/
.seccion-inferior{
    display: flex;   
    justify-content: space-between; 
}
.seccion-inferior .blog{
    flex-basis: 60%;    /* Toma el 60% */
}
.seccion-inferior .testimoniales{
    flex-basis: calc(40% - 2rem);   /* Toma el 40% restante y los separa con 2rem */
}
.entrada-blog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.entrada-blog:last-of-type{
    margin-bottom: 0;
}
.entrada-blog .imagen{
    flex-basis: 40%;
}
.entrada-blog .texto-entrada{
    flex-basis: calc(60% - 3rem);
}
.texto-entrada a{
    color: black;
    text-decoration: none;
}
.texto-entrada h4{
    margin: 0;
    line-height: 1.4;
}
.texto-entrada h4::after{
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
    margin-top: 1rem;
}
.texto-entrada span{
    color: #E08709;
}


/** Testimoniales **/
.testimonial{
    background-color: #71B100;
    font-size: 2.4rem;
    padding: 2rem;
    color: #ffffff;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
.testimonial p{
    text-align: right;
}
.testimonial blockquote::before{
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute; /* usamos para poder manejar la posicion de la imagen px a px */
    left: -2rem;
}
.testimonial blockquote{
    position: relative; /* usamos para poder manejar la posicion de la imagen px a px */
    padding-left: 5rem;
    font-weight: 300;
}


/** Footer **/
.site-footer{
    background-color: #333333;
    margin: 3rem 0 0 0;
}
.contenedor-footer{
    padding: 2rem 0; 
    display: flex;
    justify-content: space-between; 
}
.copyright{
    margin: 0;
    color: #ffffff;
}


/** Internas **/
  /*Nosotros*/
.contenido-nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2.5rem;
}
.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0;
}

  /*Anuncios*/
.resumen-propiedad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Contacto */
.contacto p{
    font-size: 1.5rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}
legend{
    font-size: 2rem;
    color: #4f4f4f;
}
label{
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]),
textarea,
select{
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="radio"]{
    width: auto;
    margin: 0 2.5rem 0 0;
}
select{
    -webkit-appearance: none;
    appearance: none;
}
textarea{
    height: 20rem;
}

.forma-contacto{
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}